-- NeYesem Database Schema
-- Complete database schema with all tables and constraints
-- Generated: 2025-12-20

-- ====================================
-- KULLANICI VE RESTORAN HESAPLARI
-- ====================================

CREATE TABLE "KullaniciHesap" (
    "kullaniciID" SERIAL PRIMARY KEY,
    ad VARCHAR(20) NOT NULL,
    soyad VARCHAR(20) NOT NULL,
    mail VARCHAR(50) NOT NULL UNIQUE,
    password_salt VARCHAR(30) NOT NULL,
    password_hash VARCHAR(255) NOT NULL,
    telefon CHAR(15),
    puan SMALLINT CHECK (puan >= 0 AND puan <= 100),
    "kayitTar" TIMESTAMP NOT NULL DEFAULT NOW()
);

CREATE TABLE "RestorantHesap" (
    "restorantID" SERIAL PRIMARY KEY,
    ad VARCHAR(40) NOT NULL,
    mail VARCHAR(50) NOT NULL UNIQUE,
    password_salt VARCHAR(30) NOT NULL,
    password_hash VARCHAR(255) NOT NULL,
    latitude FLOAT,  -- Enlem
    longitude FLOAT, -- Boylam
    telefon CHAR(15),
    sehir VARCHAR(50),
    ilce VARCHAR(50),
    "kayitTarih" TIMESTAMP NOT NULL DEFAULT NOW()
);

-- İndeksler (arama performansı için)
CREATE INDEX idx_restorant_sehir ON "RestorantHesap"(sehir);
CREATE INDEX idx_restorant_ilce ON "RestorantHesap"(ilce);

-- ====================================
-- MENÜ YÖNETİMİ
-- ====================================

CREATE TABLE "RestorantMenu" (
    "menuID" SERIAL PRIMARY KEY,
    "restorantID" INT NOT NULL,
    yemekadi VARCHAR(40) NOT NULL,
    aciklama VARCHAR(80),
    fiyat SMALLINT NOT NULL,
    kategoriad VARCHAR(25),
    CONSTRAINT fk_menu_restoran
        FOREIGN KEY ("restorantID")
        REFERENCES "RestorantHesap"("restorantID")
        ON DELETE CASCADE,
    CONSTRAINT chk_kategori_valid 
        CHECK (kategoriad IN ('Çorbalar', 'Salatalar', 'Ana Yemekler', 'Tatlılar', 'İçecekler', 'Aperatifler'))
);

CREATE TABLE "MenuFoto" (
    "fotoID" SERIAL PRIMARY KEY,
    "menuID" INT NOT NULL,
    "fotoURL" VARCHAR(500) NOT NULL,
    CONSTRAINT fk_menufoto_menu
        FOREIGN KEY ("menuID")
        REFERENCES "RestorantMenu"("menuID")
        ON DELETE CASCADE
);

-- ====================================
-- YORUMLAR VE DEĞERLENDİRMELER
-- ====================================

CREATE TABLE "Yorum" (
    "yorumID" SERIAL PRIMARY KEY,
    "kullaniciID" INT NOT NULL,
    "menuID" INT,
    "restorantID" INT NOT NULL,
    yorum VARCHAR(100),
    "yorumTarih" TIMESTAMP NOT NULL DEFAULT NOW(),
    puan SMALLINT CHECK (puan >= 1 AND puan <= 5),
    "fotoURL" VARCHAR(500),
    CONSTRAINT fk_yorum_kullanici
        FOREIGN KEY ("kullaniciID")
        REFERENCES "KullaniciHesap"("kullaniciID")
        ON DELETE CASCADE,
    CONSTRAINT fk_yorum_menu
        FOREIGN KEY ("menuID")
        REFERENCES "RestorantMenu"("menuID")
        ON DELETE CASCADE,
    CONSTRAINT fk_yorum_restoran
        FOREIGN KEY ("restorantID")
        REFERENCES "RestorantHesap"("restorantID")
        ON DELETE CASCADE
);

-- ====================================
-- FOTOĞRAF GALERİSİ
-- ====================================

CREATE TABLE "RestorantFoto" (
    "fotoID" SERIAL PRIMARY KEY,
    "restorantID" INT NOT NULL,
    "fotoURL" VARCHAR(500) NOT NULL,
    vitrin BOOLEAN DEFAULT FALSE,
    CONSTRAINT fk_restoranfoto_restoran
        FOREIGN KEY ("restorantID")
        REFERENCES "RestorantHesap"("restorantID")
        ON DELETE CASCADE
);

-- ====================================
-- TIKTOK VIDEO ENTEGRASYONU
-- ====================================

CREATE TABLE "RestorantTikTok" (
    "tiktokID" SERIAL PRIMARY KEY,
    "restorantID" INT NOT NULL,
    "tiktokURL" VARCHAR(500) NOT NULL,
    baslik VARCHAR(200),
    "thumbnailURL" VARCHAR(500),
    "eklenmeTarih" TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_tiktok_restoran
        FOREIGN KEY ("restorantID")
        REFERENCES "RestorantHesap"("restorantID")
        ON DELETE CASCADE,
    CONSTRAINT chk_tiktok_url_format 
        CHECK ("tiktokURL" LIKE 'http%')
);

-- Index oluştur (hızlı sorgulama için)
CREATE INDEX IF NOT EXISTS idx_tiktok_restoran ON "RestorantTikTok"("restorantID");

-- ====================================
-- AÇILIŞ SAATLERİ (Gelecekteki özellik)
-- ====================================

CREATE TABLE "RestorantAcikGunler" (
    "restorantID" INT NOT NULL,
    "gunID" SMALLINT NOT NULL,
    "acilisSaat" TIME NOT NULL,
    "kapanisSaat" TIME NOT NULL,
    PRIMARY KEY("restorantID", "gunID"),
    CONSTRAINT fk_acikgunler_restoran
        FOREIGN KEY ("restorantID")
        REFERENCES "RestorantHesap"("restorantID")
        ON DELETE CASCADE
);

-- ====================================
-- KAMPANYALAR (Gelecekteki özellik)
-- ====================================

CREATE TABLE "Kampanya" (
    "kampanyaID" SERIAL PRIMARY KEY,
    "restorantID" INT NOT NULL,
    baslik VARCHAR(50),
    aciklama VARCHAR(200),
    "baslangicTarih" TIMESTAMP,
    "bitisTarih" TIMESTAMP,
    "indirimOrani" SMALLINT,
    CONSTRAINT fk_kampanya_restoran
        FOREIGN KEY ("restorantID")
        REFERENCES "RestorantHesap"("restorantID")
        ON DELETE CASCADE
);

-- ====================================
-- ABONELIK SISTEMI (Gelecekteki özellik)
-- ====================================

CREATE TABLE "Abone" (
    "aboneID" SERIAL PRIMARY KEY,
    "restorantID" INT NOT NULL,
    tur VARCHAR(10),
    "aboneTarih" TIMESTAMP,
    "bitisTarih" TIMESTAMP,
    fiyat SMALLINT,
    CONSTRAINT fk_abone_restoran
        FOREIGN KEY ("restorantID")
        REFERENCES "RestorantHesap"("restorantID")
        ON DELETE CASCADE
);

-- ====================================
-- LOGLAMA (Gelecekteki özellik)
-- ====================================

CREATE TABLE "Logs" (
    "logID" SERIAL PRIMARY KEY,
    "hesapID" INT NOT NULL,
    "hesapTur" BOOLEAN NOT NULL,   -- 0: kullanıcı, 1: restoran
    "aksiyonTipi" VARCHAR(50),
    "logAdress" VARCHAR(100),
    "IPAdress" VARCHAR(45)
);

-- ====================================
-- INDEKSLER VE OPTIMIZASYONLAR
-- ====================================

-- Restoran aramaları için
CREATE INDEX idx_restoran_sehir_ilce ON "RestorantHesap"(sehir, ilce);

-- Yorum sorgulama için
CREATE INDEX idx_yorum_restoran ON "Yorum"("restorantID");
CREATE INDEX idx_yorum_menu ON "Yorum"("menuID");

-- Menü sorgulama için
CREATE INDEX idx_menu_restoran ON "RestorantMenu"("restorantID");

